<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>エントリーシート管理システム</title>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
        <h1>エントリーシート管理システム</h1>
        {% if entry_sheet == [] %}
            <p>登録されたESはありません</p>
        {% else %}
            <table border="1">
                <tr>
                    <th>企業名</th>
                    <th>問題</th>
                    <th>ESのテーマ</th>
                </tr>
                {% for es in entry_sheet%}
                    <tr>
                        <td>{{es.company}}</td>
                        <td>{{es.problem}}</td>
                        <td>{{es.theme}} EN</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
        <a href="{{url_for('form')}}">edit</a>
    </body>

</html>
